<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C4E6 - Flask, HTML, Jinja intro</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
</head>
<body>

<div class="w3-container w3-card-4 w3-pale-yellow">
    <h1>Cafe Latte night</h1>
    <h2>I went to Starbuck</h2>
    <h3 class="w3-indigo">And i had double shot of {{ person.name }}</h3>
    <h4 class="w3-pink">This is an example of it</h4>
    <img src={{ person.cake }}>
</div>

</body>
</html>